<div ng-include=" 'templates/modal.html' "></div>

<div class="row calendar-container" ng-controller="TaskCtrl">
    <div ng-controller="CalendarController">
        <div class="calendar" ng-model="eventSources" ui-calendar="uiConfig.calendar"></div>
    </div>
</div>





